.login-container{
    padding: 24px;
}

.form-border-login{
    width: auto;
    padding: 45px;
    border: 1px solid #ff0040;
}

.login-form-height{
    height: 236px;
}

.display-none{
    display: none;
}

.primary-background-login{
    position: absolute;
    width: 100%;
    height: 236px;
    background-color:#ff0040;
    opacity: 0.8;
}

.no-padding{
    padding: 0px;
}

.color-white{
    color: white;
}

.user-form-title-login{
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
}

.user-form-subtitle-login{
    text-align: center;
    font-size: 16px;
}

.user-form-button-login{
    cursor: pointer;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    padding: 4px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}