    .movie-poster-slider .movie-title{
        color: white;
        font-size: 32px;
    }

    .movie-poster-slider .movie-details{
        color: white;
        font-size: 24px;
    }

    .movie-details-margin{
        position: absolute;
        left: 1%;
        bottom: 40%;
        padding: 0px !important;
    }

    .movie-details-inner-container{
        background-color: black;
        width: max-content;
        max-width: 400px;
        padding: 10px;
        padding-right: 4px;
        opacity: 0.8;
    }

    @media only screen and (max-width: 600px) {
        .movie-title{
            font-size: 20px !important;
        }

        .movie-details{
            font-size: 16px !important;
        }

        .movie-poster-slider{
            height: 375px;
        }

        .movie-details-inner-container{
            margin-left: auto;
            margin-right: auto;
            opacity: 0.7;
        }

        .movie-details-margin{
            bottom: 12%;
            padding-left: 0px !important;
        }

        .mini-tile-sm{
            display: none;
        }
    }

    
    @media only screen and (max-width: 800px) {
        .mini-tile-sm{
            display: none;
        }
    }

    @media only screen and (max-width: 1000px) {
        .mini-tile-sm{
            display: none;
        }
    }

  .mini-tile{
      background-size: bottom;
      background-position: center;
      background-repeat: no-repeat;
      height: 190px;
      width: 100%;
      border-radius: 4px;
      padding: 0px;
  }

  .popular-reviews-section{
      margin-left: auto;
      margin-right: auto;
  }

  .placement-style{
      position: relative;
  }